@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 5rem;

}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}